/*default style*/
html {
	/*background-color: #00b4b2;*/
	/*background-size: cover;*/
	background-color: #151515;

}

body {
	background-color: transparent;
}



/*useful css*/
.full-width {
	width: 100%;
	margin:0;
}
.home {
	width:100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/*navigation*/

.nav-logo {
	width: 70px;
	max-height: 60px;
	margin-left: 10px;
    margin-top: 0.1px;

	-webkit-filter: brightness(90%);
    position:fixed;
	
}

nav {
	/*background-color: #103434;
	/*ackground-color: yellow;*/
	background-color: rgba(0,0,0, 0.4);
	color: #fff;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;

}


.bar-header {
	/*width: 100%;*/
	box-shadow: 0px 3px 10px rgba(125, 125, 125, 0.3);
}



a {
	color: white;
	text-decoration: none;
}
a:focus, a:hover {
	color:white;
}
/*helper style*/
.center {
	text-align: center;
}
.red {
	color: red;
}

.hcenter {
	margin-right: auto;
	margin-left: auto; 

}



.nav-bar li {
	display: inline-block;
}

.nav-bar {
	margin-left: 25%;
	padding: 0;
	
	float:left;
	

}
.nav-bar li {
	/*border: 1px solid white;*/
	margin: 10px;
	/*space between a and another object*/
	padding: 10px;
	/*space between text context and border */
	border-radius: 5px;
	transition: background-color .5s linear, margin .5s linear;
}
.nav-bar li:hover {
	/*margin: 20px;*/
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
	cursor:pointer;
}

.banner {
	
	position: relative;
	width:100%;
	height:auto;
}


/*
.imgheader {
	width: 100%;
	
	

}
*/

.image {
	
	filter: brightness(50%);
	-webkit-filter: brightness(65%);
	width:90%;
	height:500px;
	margin-left: 5%;
	

}

.content {
 position: absolute;
 font-weight: 100;
 font-size: 2rem;
 margin-top: -300px;
 margin-left: 30%;
}
.content h1 {

	font-weight: 500;
	color: white;
}
.content p {
	color: white;
	padding-top:20px;
	font-size: 3.3rem;
	font-weight: 200;

}

.map {
	position: relative;
	margin-top:20px;
	margin-left:5%;
	width: 90%;
	height:auto;
	/*-webkit-filter: brightness(96%);*/

}
.mapSize {
	width:100%;
	height:500px;

}


.maplink {
	position: absolute;
	/*opacity:1;*/
	margin-top:-500px;
	width:50px;
	height:auto;

}



.filterList {
	width: 100%;
	position: relative;

	margin-top:-200px;
	padding:0;

	background-color: rgba(0,0,0, 0.4);


}
form {
	width: 100%;
	
	
	
}
form > input {
	display: inline-block;
	size: 20px;

}

.description {
	position: relative;
	overflow: auto;
	color: white;
	font-style: arial;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top:30px;
	padding-bottom:30px;
	
	background-color: #00b4b2;
}








/*footer*/
footer {
	margin-top:0px;
	width:100%;
	height:200px;
	background-color: white;


}

footer ul {
	margin-left: 15%;
}
footer li {
	display: inline-block;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

footer  span {
	color: #00b4b2; 
	font-size: 5rem;
}

footer p {
	color:#008387;
	margin-top:20px;
	margin-left: -32px;
}












nav {
	/*background-color: #103434;*/
	/*ackground-color: yellow;*/
	background-color: rgba(0,0,0, 0.4);
	color: #fff;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;
}


.bar-header {
	/*width: 100%;*/
	box-shadow: 0px 3px 10px rgba(125, 125, 125, 0.3);
}



a {
	color: white;
	text-decoration: none;
}
a:focus, a:hover {
	color:white;
}
/*helper style*/
.center {
	text-align: center;
}
.red {
	color: red;
}

.hcenter {
	margin-right: auto;
	margin-left: auto; 

}


button {
	font-size: 1.5rem;
	background-color: transparent; 
	border: 1px solid white;
	padding: 10px;
	color: white;
	border-radius: 5px;
	
}


input, select, textarea{
	padding:5px;
	border: 1px solid #D4D4D4;
	border-radius: 5px;
	/*width:200px;*/
	display: block;
	margin: 5px auto;

}

label {
	color: white;

}


.inline {
	display: inline-block;
	margin:5px;
}

.input-space {
	width: 20px;
}











/*mission page == about us pages* wrote by June/































/*media query for resposive design*/
@media(max-width: 941px){
	.posters div {
		width: 45%;
		margin-bottom: 20px;
	}
	.posters div:hover {
		width: 44%;
	}
}

@media(max-width: 500px) {
	.posters div {
		width: 95%;
		margin-bottom: 20px;
	}
	.posters div:hover {
		width: 97%;
	}
}
*/
