/*default style*/
html {
	background-color: #00b4b2;
	/*background-size: cover;*/

}

body {
	background-color: transparent;
}



/*useful css*/
.full-width {
	width: 100%;
	margin:0;
}
.home {
	width:100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/*navigation*/

/*.nav-logo {
	width: 70px;
	max-height: 60px;
	margin-left: 10px;
    margin-top: 0.1px;

	-webkit-filter: brightness(90%);
    position:fixed;
	
}

nav {
	background-color: #103434;
	background-color: yellow;
	background-color: rgba(0,0,0, 0.4);
	color: #fff;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;

}
*/

/*.bar-header {*/
	/*width: 100%;
	box-shadow: 0px 3px 10px rgba(125, 125, 125, 0.3);
}



a {
	color: white;
	text-decoration: none;
}
a:focus, a:hover {
	color:white;
}
/*helper style
.center {
	text-align: center;
}
.red {
	color: red;
}

.hcenter {
	margin-right: auto;
	margin-left: auto; 

}



.nav-bar li {
	display: inline-block;
}

.nav-bar {
	margin-left: 25%;
	padding: 0;
	
	float:left;
	

}
.nav-bar li {
	/*border: 1px solid white;*/
	/*margin: 10px;*/
	/*space between a and another object*/
/*	padding: 10px;*/
	/*space between text context and border */
	/*border-radius: 5px;
	transition: background-color .5s linear, margin .5s linear;
}*/
/*.nav-bar li:hover {*/
	/*margin: 20px;*/
	/*border-radius: 5px;
	background-color: rgba(255,255,255,0.5);
	cursor:pointer;
}*/












.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0px;
	/*height: 60px;*/
	background-color: black;
	opacity: 0.6;
}
.navbar {
	padding-left:20%;
}


.nav li {
	display: inline;
	color: white;

}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: lato;
	font-size: 1.3em;
	font-weight: 300;
	padding: 30px 25px 10px 25px;

	
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;

	transition: background-color .5s linear;
	
}



















.bannerImg { 
	width:100%;
	
	height: 600px;
	
}

.carouselchange {
    bottom: 196px;
}











/*
.imgheader {
	width: 100%;
	
	
}
*/

.image {
	position: relative;
	filter: brightness(50%);
	-webkit-filter: brightness(80%);
	width:100%;
	height:700px;
	/*margin-top: -25px;*/
}



.filterList {
	width: 100%;
	position: relative;

	margin-top:-200px;
	padding:0;

	background-color: rgba(0,0,0, 0.4);


}
form {
	width: 100%;
	
	
	
}
form > input {
	display: inline-block;
	size: 20px;

}

.description {
	position: relative;
	overflow: auto;
	color: white;
	font-style: arial;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top:30px;
	padding-bottom:30px;
	
	background-color: #00b4b2;
}

.content {
 font-weight: 100;
 font-size: 2rem;
}
.content h1 {
	font-weight: 100;
}





/*footer*/
footer {
	margin-top:0px;
	width:100%;
	height:200px;
	background-color: white;


}

footer ul {
	margin-left: 15%;
}
footer li {
	display: inline-block;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

footer  span {
	color: #00b4b2; 
	font-size: 5rem;
}

footer p {
	color:#008387;
	margin-top:20px;
	margin-left: -32px;
}












nav {
	background-color: #103434;
	/*ackground-color: yellow;*/
	background-color: rgba(0,0,0, 0.4);
	color: #fff;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 100;
	top:0;
}


.bar-header {
	/*width: 100%;*/
	box-shadow: 0px 3px 10px rgba(125, 125, 125, 0.3);
}



a {
	color: white;
	text-decoration: none;
}
a:focus, a:hover {
	color:white;
}
/*helper style*/
.center {
	text-align: center;
}
.red {
	color: red;
}

.hcenter {
	margin-right: auto;
	margin-left: auto; 

}


button {
	font-size: 1.5rem;
	background-color: transparent; 
	border: 1px solid white;
	padding: 10px;
	color: white;
	border-radius: 5px;
	
}


input, select, textarea{
	padding:5px;
	border: 1px solid #D4D4D4;
	border-radius: 5px;
	/*width:200px;*/
	display: block;
	margin: 5px auto;

}

label {
	color: white;

}


.inline {
	display: inline-block;
	margin:5px;
}

.input-space {
	width: 20px;
}



/*list page style start
*/
/*grid*/

[class*='col-'] {
  float:left;
}
* {
  box-sizing: border-box;
}


.col-1of1 {
  width: 100%; }

.col-1of3 {
  width: 33%; }

.col-2of3 {
  width: 66.66667%; }

.col-1of4 {
  width: 25%; }

.col-1of2 {
  width: 50%; }

.col-3of4 {
  width: 75%; }

.col-1of5 {
  width: 20%; }

.col-2of5 {
  width: 40%; }

.col-3of5 {
  width: 60%; }

.col-4of5 {
  width: 80%; }



  .cf {
    clear:both;
  }

/*end of grid start of search page
*/

.mainpost{
padding:60px 40px;


}

.mainpost img{
width:100%;

}

.categories.movedown {
  margin-top: 10rem;
}

.categories .info,  .categories .option h4, .viewpost, .mainpost , .categories.movedown,.submenu
{
  transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;
}

.categories {
padding-top: 15%;
text-align: center;
 
}



.categories h4{
color:white;
margin-top: 50px;

}
.categories .option {

  margin-bottom: 2rem;

  position:relative;
background-color: rgba(84,14,120,0.8);
  height:180px;

  text-align:center;
  overflow:hidden;
  margin:10px 10px;
}

/*.bg-img{
background-image:url(https://www.google.ca/search?q=richmond&espv=2&biw=1150&bih=689&tbm=isch&source=lnt&tbs=isz:ex,iszw:500,iszh:400#tbs=isz:ex%2Ciszw:500%2Ciszh:400&tbm=isch&q=richmond+vancouver&imgrc=SeRZPtqfGlrRHM%3A);

}*/
.option h4{
position:absolute;
width:100%;
}




/*option and info are for the hidden menu under categories*/

.categories .info {
  position:absolute;
  bottom:0px;
  width:100%;
 
  height:5px;


}



.categories .info a {
  color:grey;
text-align:center;
  font-size:1.1em;
  font-weight:550;

  display:block;

padding-top: 4px;
  text-decoration: none;
}

.categories .info a:hover{


  color: rgb(84,14, 120);
  background-color: rgba(0,0,0,0.2);
  width:100%;
 
}



.categories .option:hover > .info {height:85%;
  background-color:rgba(255,255,255,0.9);
  color:rgb(84,14, 120);
}

.categories .option:hover > h4{ margin-top: 5px; display:block;}



.main-content {

  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  
}
.main-content h2 {
  margin: 0 0 20px 0;
  font-size: 26px;
  color: #128eb5;
}

/*end of search start of listing
*/
.main-content .members 
{font-size:0;text-align:center;}

.main-content h4{
font-size:15px;


}

.main-content .members .col-1of3
{
  padding:0 20px 20px 0;
  font-size:14px;
}


.content-section p {
  margin-bottom: 10px;
}

/*each post is wraped by a product box*/
.product-box {

  border-bottom: 1px dotted #666;
 /* height:400px;*/

}

.product-box img {

    width: 100%;
    
 /*height:10%;*/
}



.product-box > .image-wrapper {
  border: 2px solid rgba(0,0,0,0.5);
  margin-bottom: 10px;
  min-height: 90%;
}

.price {
  color: #CC0066;
  font-size: 14px;
  font-weight: bold;
}

.fullwidth {
  width: 100%;
}









/*mission page == about us pages* wrote by June/
/*media query for resposive design*/
@media(max-width: 991px){
	.posters div {
		width: 45%;
		margin-bottom: 20px;
	}
	.posters div:hover {
		width: 44%;
	}
}

@media(max-width: 500px) {
	.posters div {
		width: 95%;
		margin-bottom: 20px;
	}
	.posters div:hover {
		width: 97%;
	}
}


  @media (max-width: 1500px) {
     .col-1of3{
width:25%;

    }

  }
    @media (max-width: 1200px) {
  /*  .col-1of4 {
      width: 33%;
    }*/
    .col-1of3{
width:33.3%;

    }
    .col-1of4{

      width:33.3%;
      }

    ã€€}




@media (max-width: 640px){
.col-1of3 {
  width: 50%;
}
.col-1of4 {
  width: 50%;
}
.col-1of2{
width:100%;

}


}

@media (max-width: 450px){
.col-1of3 {
  width: 100%;
}
.col-1of4 {
  width: 100%;
}

}




