
/*
body{
  background: #212121;
  color: white;
}*/

.page{
  width:80%;
  margin: 5em auto;
  padding: 10px 0;
  text-align:center;
}/*.page span,p{
  opacity:0;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}*/.page span{
  font-size: 30px;
  padding-bottom: 8px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
  margin-right: 7px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}.page span:nth-child(1){
  -webkit-animation: introText 2s 1;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation: introText 2s 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}.page span:nth-child(2){
   color: #00b4b2;
  -webkit-animation: introText 2s 1;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation: introText 2s 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}.page span:nth-child(3){
  -webkit-animation: introText 2s 1;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation: introText 3s 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;

}.page h1{
  font-size: 50px;
  line-height: 24px;
  color: #00b4b2;
  padding: 5px 0;
  -webkit-animation: introText 2s 1;
  -webkit-animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation: introText 2s 1;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@-webkit-keyframes introText{
  0% {opacity: 0;}
  100% {opacity: 1;}
}@keyframes introText{
  0% {opacity: 0;}
  100% {opacity: 1;}
}




@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300';
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #999;
  background-color: #FFF;
  /*background: url(../img/b2.jpg) no-repeat;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(0, 180, 178, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

a:link,
a:active,
a:visited{
  color:rgba(255,255,255,1);
}

a:hover{
  color:rgba(255,255,255,0.6);
}

.gray {
  color: #a5a5a5;
}


/*anna's edit* from here*/

.nav-logo {
  width: 70px;
  max-height: 60px;
  margin-left: 10px;
    margin-top: 0.1px;

  -webkit-filter: brightness(90%);
    position:fixed;
  
}

nav {
  background-color: rgba(0,180,178, 0.8);
  color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top:0;

}


.bar-header {
  /*width: 100%;*/
  box-shadow: 0px 5px 10px rgba(125, 125, 125, 0.4);
}

.nav-bar li {
  display: inline-block;
}

.nav-bar {
  margin-left: 25%;
  padding: 0;
  
  float:left;
  

}
.nav-bar li {
  /*border: 1px solid white;*/
  margin: 10px;
  /*space between a and another object*/
  padding: 10px;
  /*space between text context and border */
  border-radius: 5px;
  transition: background-color .5s linear, margin .5s linear;
}
.nav-bar li:hover {
  /*margin: 20px;*/
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  cursor:pointer;
}

/*anna's edit to here*/



.team{
  margin:40px;

}





.team-member {
  margin: 15px 0;
  padding: 0;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(0, 180, 178, 0.9);
  /* Primary color, can be changed via colors.css */
  
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(103, 38, 0, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
